-# frozen_string_literal: true
= simple_form_for(@service, wrapper: :vertical_form) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.rich_text_area :description, required: true
    = f.association :areas, as: :check_boxes, input_html: {class: 'btn me-2 btn-outline-secondary rounded-0'}#, label_html: { class: "btn btn-secondary" } #, wrapper_html: { class: "mt-3" } 
    = f.input :profile
    = f.input :location, collection: [ "Miranda", "Maracay", "La Guaira", "Gran Caracas"]
  .form-actions
    = f.button :submit, class: 'btn btn-success'
