-# frozen_string_literal: true
= simple_form_for(@service, wrapper: :floating_labels_form) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  - required = !current_user.admin?
  .form-inputs
    - # Cédula o RIF
    = f.hint 'Condición formal del servicio. Indique rif o documento de identidad'
    .row
      = f.input :condition, required: required, include_blank: 'Seleccione', collection: Service.conditions.keys, wrapper: :floating_labels_select, wrapper_html: {class: 'col-2 pe-0'}, label_html: {class: 'ms-3 mt-1 pt-1'}
      = f.input :code, required: required, as: :string, wrapper_html: {class: 'col-10 ps-0'}, input_html: {class: 'onlyNumbers maxSize', size: 10}, label_html: {class: 'ms-3'}
    
    - # Nombre
    = f.hint "Indique el nombre del servicio si lo tiene o cómo desea ser contactado por sus potenciales clientes"
    = f.input :name, required: true

    - # Descripción:
    = f.hint 'Indique brevemente en qué consiste especificamente el servicio que ofrece, para ampliar la información a sus clientes potenciales, indique cualidades innovadoras, exclusivas y sobresalientes'
    = f.input :details, as: :text, input_html: {style: 'height:100px'}

    - # Imágen:
    = f.hint 'Agregue el logo del servicio o foto de la persona que ofrece sus servicios personales'
    = f.input :profile, label_html: {class: 'p-2', style: 'font-size: 13px;color: grey;'}, input_html: {class: 'mb-4'}, wrapper_html: {class: 'border'}
    
    - # Categorías:
    = f.hint 'Seleccione tantas opciones como describan su servicio'
    = f.association :areas, wrapper: :floating_labels_select, input_html: {style: 'height:150px'}
    
    - # Teléfono
    = f.hint 'Indique el número telefónico de contacto para el servicio'
    .row
      - operators_code = ['0412', '0414', '0424', '0416','0426']
      = f.input :contact_phone_code, collection: operators_code, include_blank: 'Seleccione', wrapper: :floating_labels_select, wrapper_html: {class: 'col-3 pe-0'}, label_html: {class: 'ms-3'}
      = f.input :contact_phone, as: :tel, input_html: {class: 'onlyNumbers maxSize', size: 7}, wrapper_html: {class: 'col-9 ps-0'}, label_html: {class: 'ms-3'}

    = f.hint 'Enlace a principal red social'
    = f.input :link
    
    = f.hint 'Ubicación a dónde ofertará su servicio'
    = f.input :location, collection: Service.states, wrapper: :floating_labels_select, include_blank: 'Seleccione'
    
    - if action_name.eql? 'new' and !current_user.admin?
      - @user = params[:user_id] ? User.find(params[:user_id]) : current_user
      - if @user&.name_incompleted?
        %hr
        .my-3.p-1.bg-primary.text-light
          %h2.text-center Sus datos personales como responsable del servicio
        = hidden_field_tag '[user]id', @user.id, required: true
        .form-floating.mb-3.user_first_name.required
          = text_field_tag 'user[first_name]', @user.first_name, required: true, class: 'form-control required'
          = label 'user','first_name', class: 'required'
        .form-floating.mb-3.user_last_name.required
          = text_field_tag 'user[last_name]', @user.first_name, required: true, class: 'form-control required'
          = label 'user','last_name', class: 'required'

  .form-actions
    = f.button :submit, class: 'btn btn-success'
