- if false 
  .row.border
    .col-3.p-3
      .float-right.p-1.me-3= image_tag service.profile, class: 'img-thumbnail img-fluid'
    .col-9
      %h2= service.name
      .text-justify= service.description


    .float-start
      %ul.list-group.list-group-horizontal
        - service.areas.each do |area|
          %li.list-group-item.bg-warning.bg-opacity-10.small= area.name.titleize



    .float-end= render partial: 'options_link', locals: {service: service}

.card.rounded-0.overflow-hidden.shadow
  .row.g-0
    / Image
    .col-md-2.p-0
      = image_tag service.profile, style: 'width: 100%'
    / Card body
    .col-md-10
      .card-body
        / Title
        .d-flex.justify-content-between.mb-2.mb-sm-3
          %h4.card-title.mb-0
            = service.name
          / Wishlist icon
          = render partial: '/services/areas_items', locals: {areas: service.areas}
          - if false
            %a{:href => "#"}
              %i.far.fa-heart.text-dark
        / Content
        .truncate
          = service.details.truncate(400)
        / Info
        %ul.list-inline.mb-2
          %li.list-inline-item.text-muted.text-small.mb-1.mb-sm-0
            %i.far.fa-clock.text-danger.me-2>
            = "Creado hace #{distance_of_time_in_words(Time.zone.now, service.created_at)}"
          %li.list-inline-item.text-muted.text-small.mb-1.mb-sm-0
            %i.fas.fa-table.text-orange.me-2
            = service.counter_views+2
          / Phone
          - if service.contact_phone
            - name_phone = number_to_phone service.complete_phone, area_code: true, country_code: 58
            %li.list-inline-item
              = link_to 'javascript:void(0)', onclick: "$('#phone#{service.id}').removeClass('d-none d-block'); $(this).parent().addClass('d-none')", class: 'phone' do
                %i.fas.fa-phone.text-success.me-2
            
            %li.list-inline-item.d-none.badge.text-success{id: "phone#{service.id}"}
              - ws_msg = "Hola,%20te%20encontré%20por%20Okyx.%20Tengo%20interés%20en tu servicio"

              = link_to "https://wa.me/+58#{service.complete_phone}?text=#{ws_msg}", {target: '_blank', referrerpolicy: "origin-when-cross-origin", class: 'btn btn-sm btn-success mx-2'} do
                %i.fa-brands.fa-whatsapp
                = name_phone
              = link_to "tel:#{service.complete_phone}", class: 'btn btn-sm btn-primary' do
                %i.fas.fa-phone

              - if false 
                %button.btn.btn-sm.btn-secondary{onclick: "copyToClipboard('#{service.complete_phone.tr('^A-Z0-9 ', "")}')"}
                  %i.fas.fa-copy

              - unless service.secundary_contact_phone.blank?
                - name_secondary_phone = service.secundary_contact_phone
                = link_to "https://wa.me/+58#{service.complete_secundary_phone}?text=#{ws_msg}", {target: '_blank', referrerpolicy: "origin-when-cross-origin", class: 'btn btn-sm btn-success'} do
                  %i.fa-brands.fa-whatsapp
                  = name_secondary_phone

                = link_to "tel:#{service.secundary_contact_phone}", class: 'btn btn-sm btn-primary' do
                  %i.fas.fa-phone
              

          / Links
          - unless service.link.blank?
            %li.list-inline-item
              = link_to 'javascript:void(0)', onclick: "$('#link#{service.id}').toggleClass('d-none d-block'); $(this).parent().addClass('d-none')" do
                %i.fas.fa-link.text-primary.me-2              
            %li.list-inline-item  
              %div.badge.text-primary.d-none{id: "link#{service.id}"}
                = link_to 'Enlace', service.link, {target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-sm btn-primary'}

          - if false
            %li.list-inline-item.text-dark
              %i.fas.fa-signal.text-success.me-2
              All level
          - if user_signed_in?
            %li= render partial: '/services/options_link', locals: {service: service}
        / Rating
        - if false
          %ul.list-inline.mb-0
            %li.list-inline-item.me-0.small
              %i.fas.fa-star.text-warning
            %li.list-inline-item.me-0.small
              %i.fas.fa-star.text-warning
            %li.list-inline-item.me-0.small
              %i.fas.fa-star.text-warning
            %li.list-inline-item.me-0.small
              %i.fas.fa-star.text-warning
            %li.list-inline-item.me-0.small
              %i.far.fa-star.text-warning
            %li.list-inline-item.ms-2.text-dark 4.0/5.0
