
- if params[:state] 
  %h3
    = @services.count
    = t('activerecord.models.service.other')&.titleize.pluralize (@services.count)
    = "en #{params[:state]}"
    = link_to 'Agregar Nuevo Servicio', "#{new_service_path}?state=#{params[:state]}", class: 'btn btn-lg btn-primary'

  = render partial: '/services/list'
- else
  %h3 
    = link_to 'Agregar Nuevo Servicio', new_service_path, class: 'btn btn-lg btn-primary float-end'
    %br
    = title 'Seleccione un Estado'
  .mt-3
    = render '/services/states_list'  


