
%h1.text-center Principal
.d-flex.justify-content-center
    - if false #current_user.admin&.is_boss?
        = link_to areas_path, class: 'btn btn-lg btn-primary' do
            = t('activerecord.models.area.other')&.titleize
    = link_to services_path, class: 'btn btn-lg btn-primary ms-3' do
        = Service.count
        = t('activerecord.models.service.other')&.titleize
        En total!

= render '/services/states_list'