%h4.alert.alert-success.text-center.mb-3
  = icon('fa-solid', 'user-secret', class:"fa-7x, fa-shake")
  Bienvenido a OKYX!!!
%br
= render partial: 'search/form'
= render partial: '/areas/group_buttons'# if params[:search]
- if params[:search] or params[:area_id]
  = render partial: '/search/index'
- else
  = render partial: 'layouts/carousel'
