%p.bg-info.text-center.p-2
  = @area.name
%p.text-muted.text-center
  = @area.description

= render partial: '/services/list'
- if user_signed_in?
  = link_to 'Editar', edit_area_path(@area)
  \|
  = link_to 'Regresar', areas_path
