.navbar.bg-success.opacity-75.justify-content-center.p-3
  
  - if controller_name != 'registrations' or controller_name != 'sessions'  
    - # Link Registration
    %div
      = "Registrarse cómo proveedor de servicios "
      = link_to 'Aquí', '/users/sign_up'
      = "o "
      = link_to 'Inicia sessión', '/users/sign_in'
      = "para gestionar tus servicios ya registrados"
      =# render '/layouts/sign_in_btn'