%nav.navbar.navbar-expand-lg.bg-light
  .container
    %a.navbar-brand{:href => session_dashboard_path}
      = image_tag 'own_resources/logo.svg', width: 120, class: 'm-0 p-0'
    %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarTogglerDemo02", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - if user_signed_in?
          - if (current_user.admin)
            - @active = @controller_name.eql? 'area' ? 'active' : ''
            %li.nav-item{class: @active}
              = link_to t('activerecord.models.area.other')&.titleize, areas_path, class: 'nav-link'
          - @active = @controller_name.eql? 'area' ? 'active' : ''
          %li.nav-item{class: @active}
            = link_to t('activerecord.models.service.other')&.titleize, services_path, class: 'nav-link'          
          - if false 
            %li.nav-item
              %a.nav-link.active{:href => "#"} Courses
            %li.nav-item
              %a.nav-link.active{"aria-current" => "page", :href => "#"} Blog
            %li.nav-item
              %a.nav-link.active{"aria-current" => "page", :href => "#"} Event

      - if user_signed_in?
        = current_user.name

        = link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'float-end mx-3 btn btn-sm btn-warning rounded-0' do
          %i.fa.fa-right-from-bracket
          Cerrar sesión
      - else
        = link_to '/users/sign_in', class: 'float-end rounded-0 my-1 btn btn-sm btn-outline-primary' do
          %i.fa.fa-right-from-bracket
          Iniciar Sesión    
        