!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Okyx
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .container-flouid
      %nav.navbar.navbar-expand-lg.bg-light
        .container
          = render '/layouts/main_nav'

      = render "/layouts/flashes"
      = yield
    = render '/layouts/footer'