!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Okyx
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag 'own_resources/logo_icon.svg'
  %body
    .container-flouid
      = render '/layouts/main_nav'
      = render "/layouts/flashes"
      .container.mt-2
        = yield
        
    .mt-5= render '/layouts/footer'