!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Okyx
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag 'own_resources/logo_icon.svg'
  %body.bg-primary-okyx 
    .container-fluid
      = render '/layouts/main_nav'
      .bg-secondary-okyx.p-3
      = render "/layouts/flashes"
      .container.mt-2
        = yield
        
    %br
    %br
    %br
    .mt-5.fixed-bottom= render '/layouts/footer'
    