!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Okyx
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag 'own_resources/logo_icon.svg'
  %body.bg-primary-okyx{style: 'height: 50rem;'}
    = render '/layouts/publish'
    .bg-secondary-okyx.p-2.m-0
    .container-fluid
      = render '/layouts/search_nav'
    .bg-secondary-okyx.p-2
    = render "/layouts/flashes"
    - clase = (params['search'].nil? and params['location'].nil? and params['area_id'].nil?) ? '' : 'container'

    %div{class: clase}= yield
    
    %br
    %br
    %br
    %br
    %br
    .fixed-bottom
      = render '/layouts/invite_nav'
      = render '/layouts/footer'