!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Okyx
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag 'own_resources/logo_icon.svg'
  %body.bg-primary-okyx 
    .content-fluid.body
      = render '/layouts/publish'
      .bg-secondary-okyx.p-2.m-0
      = render '/layouts/invite_nav'
      .bg-secondary-okyx.p-2
      = render "/layouts/flashes"
      
    = yield
    = render '/layouts/footer'